*{
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 2.5em;
}

#header-titulo{
    color: #000;
}

.js-block{
    display: flex;
    justify-content: center;
}

.exercicio{
    padding: 10em 15em;
    border: 2px solid grey;
    border-radius: 8px;
    color: #000;
    background-color: white;
}

.exercicio #input_info{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    margin-bottom: 20px;
}


